body{
    background: #DCDCDC;
}

.container {
    width: 100%;
}

#logo{
    margin-left: 650px;
    position: relative;

}

.header {
    background-color: #B22222;
    border-bottom: 2px solid black;
    font-family: 'Arial Black', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding: 15px;
    height: 75px;
}

.header .menu {
    list-style: none;
    margin-top: -15px;
}

.menu{
    width: 45%;
    margin-left: 750px;
}

.menu > li {
    font-size: 0.8em;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu > li > a:hover{

}

.menu a {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    font-size: 16px;
    margin-top: 5px;
    min-width: 105px;
}

.dropdown-menu li a {
    color: white;
    padding: 6px 20px;
    font-weight: 300;
    background-color: #B22222;
}

.slider {
    position: relative;
    width: 100%;
    height: 470px;
    border-bottom: 1px solid #ddd;
}

.slide {
    background-size: cover;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active-slide {
    display: block;
}

.slide-img {
    text-align: right;
}

.slider-nav {
    text-align: center;
    margin-top: 20px;
}

.arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.fa-arrow-left{
    color: black;
}

.fa-arrow-right{
    color: black;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}

.slider-dots li.active-dot {
    color: #363636;
}
